html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

div#header {
    position: relative;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: white;
    color: black;
    font-family: cursive;
    text-align: center;
}



div#navigation {
    background: #7cb71c;
}

div#navigation li {
    list-style: none;
}

div#extra {
    background: #147FA9;
}

div#footer {
    background: #42444e;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}

div#navigation {
    float: left;
    width: 50%;
}

div#extra {
    float: left;
    width: 49.9%;
}

div#footer {
    clear: left;
    width: 100%;
}
#logo
{
    width: 50px;
    margin-left: 10px;
    height: 50px;
    float: left;
}
#hero-img {
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
       }
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: white;
    height: 50px;
}

/* Navbar links */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Times New Roman";
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.backgrnd
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
    .hero-text {
        text-align: center;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font: bold 1.5em "Saira Condensed";
    }
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: dodgerblue;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}
.dropdown {
    float: right;
    overflow: hidden;

}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: sans-serif;
    margin: 0;
}

.dropbtn:hover {
    background-color: white;
    font-weight: bold;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    display: block;
}

.header-right {
    float: right;
}

.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-weight: inherit;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#footer{
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 1px;
    color: black !important;
    vertical-align: center !important;
    background-color: #eee !important;
}
.hero-text-head {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: cursive;
}
h2
{
    font-size: 1.5em;
    color: black;
    background-color: inherit;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 80px 0 20px;
    width: 100%;
}
h2 span {
    background:#fff;
    padding:0 10px;
}
h3
{
    padding-top: 50px;
}
.aboutText
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-left: 16px;
    margin-right: auto;
}
.textList
{
    font-size: 16px;
    line-height: 2em !important;
    word-wrap: break-word;
    margin-left: 16px;
    padding: 20px 20px;
}
.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    height: 500px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-top: 50px;
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 30px;
    text-align: justify;
}